# Describe here your connector
# Currently exists:
# * ldap
# * crowd (from atlassian)
#
# You can use many git/ldap/crowd connections

git:
  name: gitosis
  # where to store working copy
  clone_path: /opt/gitolite/git-auth-manager/gitolite-admin
  # where repository actually exists (can be any supported url)
  url: file:///opt/gitolite/repositories/gitolite-admin.git
  # folder with public keys
  keydir: keydir
  # where to store disabled public keys
  disabled: disabled


ldap:
  name: connector_name
  host: dc01.mycompany.com
  port: 6666
  binddn: ou=myunit,dc=mycompany,dc=com
  username: cn=readonly_user,ou=myunit,dc=mycompnay,dc=com
  password: readonly_password
  # All enabled and not expired (Windows Hack with TIMENOW_WINEPOCH period var as current time)
  filter: (&(objectClass=person)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(|(accountExpires=0)(accountExpires>=TIMENOW_WINEPOCH)))
  # Unique ID: login name
  uid: sAMAccountName

crowd:
  name: connector_name
  url: http://crowd.mycompany.com
  appname: gitosomthing
  apppassword: password